
body{
    background-color: rgb(87, 84, 84);
    margin: 1%;
}
#container{
    background-color: rgb(226, 226, 240);
    padding: 60px 80px 60px 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 500px;  
}
select{
    color: rgb(12, 11, 11);
    padding: 20px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(179, 207, 235);
}
.calculator{
    background-color: red;
    padding: 20px 40px;
    font-size: large;
    font-family: sans-serif;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
}
.box{
    padding-top: 20px;
    border-radius: 10px; 
    margin-right: 300px;
    margin-left: 200px;
    font-size: large;
}
.box input{
    border: none;
    text-align: center;
    padding-bottom: 20px;
    font-size: large;
}


.box1{
    padding-top: 25px;
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: large; 
}
.box1 input{
    border: none;
    text-align: center;
    padding-bottom: 20px;
    font-size: large;
}
.box2{
    padding-top: 20px;
border-radius: 10px; 
margin-right: 100px;
margin-left: 200px;
font-size: large;
}
.box2 input{
    border: none;
    text-align: center;
    padding-bottom: 20px;
    font-size: large;
}

@media(min-width: 320px) and (max-width: 480px){
    body{
        margin: auto;
    }
    #container{
        padding: 30px 50px 30px 50px;
        border-radius: 5px;
        margin: 100px;  
    }
    select{
        padding: 10px;
        border-radius: 5px;
    }
    .calculator{
        padding: 10px 20px;
        border-radius: 6px;
    }
    .box{
        padding-top: 10px;
        border-radius: 5px; 
        margin-left: 200px;
        margin-right: 200px;
        margin-left: 100px;    
    }
    .box input{
        padding-bottom: 10px;
    }
    .box1{
        padding-top: 15px;
        border-radius: 3px;
        margin-left: 100px;
        margin-right: 100px;
        font-size: large; 
    }
    .box1 input{
        padding-bottom: 10px;
    }
    .box2{
        padding-top: 10px;
    border-radius: 6px; 
    margin-right: 50px;
    margin-left: 100px;
    }
    .box2 input{
        padding-bottom: 10px;
    }

}
